<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurante</title>

    {{!Bootstrap}}
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

    {{!css}}
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    {{{body}}}

</body>
</html>